@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en" data-theme='light'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Supwave</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    @if (SignInManager.IsSignedIn(User))
    {
        <link rel="stylesheet" href="~/css/header.css" />
    }
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600&display=swap" />
    </head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <header>
            <div class="toggle-button" onclick='toggleSideMenu()'>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h2>Supwave</h2>
            <div class="theme-toggle">
                <div class="toggle-container">
                    <p>LIGHT</p>
                    <input type="checkbox" id="switch" name="theme" />
                    <label for="switch">Toggle</label>
                    <p>DARK</p>
                </div>
            </div>
            <div id="side-menu">
                <div class="menu">
                    <a href="/player">Player</a>
                    <a href="/manage-playlist">Manage Playlists</a>
                    <a href="/add-song">Upload Song</a>
                    <a href="/delete-song">Delete Song</a>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </div>
            </div>
        </header>
        <script type="text/javascript" src="/js/color-theme.js"></script>
        <script type="text/javascript" src="/js/side-menu.js"></script>
    }

        <div class="content">
            @RenderBody()
        </div>



        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
