@{
    ViewData["Title"] = "Welcome";
}

<div class="box">
    <link rel="stylesheet" href="~/css/welcome.css" />
    <h1>Welcome on Supwave</h1>
    <h2>What are you going to listen today?</h2>
    <a class="login" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="register" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>

