
@{
    ViewData["Title"] = "Playlist Manager";
}
<link rel="stylesheet" href="~/css/form.css"/>


<div class="box">
    <h1>Playlist Manager</h1>
    <a href="playlists">Playlist list</a>
    <a href="add-playlist">Add a Playlist</a>
    <a href="delete-playlist">Delete a playlist</a>
    <a href="edit-playlist">Edit a playlist</a>
</div>

