.content {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 2vh 10vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
    color: white;
    background: #95a5a6;
}

    .box * {
        margin: 0.3em;
    }

    .box img {
        height: 5em;
    }

    .box h1 {
        margin: 0.5em 0 0.1em 0;
        font-weight: 300;
    }

    .box form {
        width: 16em;
        display: flex;
        flex-flow: column;
    }

        .box form * {
            margin: 0.3em 0;
            padding: 0.4em 0;
            border: none;
            border-radius: 0.5em;
            font-weight: 200;
            text-decoration: none;
            text-align: center;
        }

        .box form button {
            background-color: #1abc9c;
            font-weight: 600;
            color: white;
        }

    .box a {
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        color: white;
    }
